BANK_ADMIN_USERNAME=
BANK_ADMIN_PASSWORD=
BANK_VIEWER_USERNAME=
BANK_VIEWER_PASSWORD=

BASE_URL=https://qaplayground.com/bank
HEADLESS=true
BROWSER=chromium
TIMEOUT_MS=15000
SLOW_MO_MS=0
RECORD_VIDEO=false
